.header {
  /* Основной фон заголовка */
  background-color: #fff;
  /* Определение расположения элементов внутри заголовка */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Минимальная высота заголовка */
  min-height: 70px;
  /* Настройки шрифта */
  font-weight: bold;
  font-size: smaller;
  /* Переполнение содержимого, скрытого, если оно выходит за пределы */
  overflow: hidden;
  /* Максимальная ширина заголовка */
  max-width: 1230px;
  /* Центрирование заголовка на странице */
  margin: 0 auto;
  /* Внутренние отступы заголовка */
  padding: 0 20px;
  /* Ширина заголовка в процентах */
  width: 100%;

  /* Параметры тени */
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  /* Применение тени к заголовку */
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #c6b6b600), 0 1px 0 #e1dbdb; /* Только нижняя тень */
}

.header_title {
  background-color: red;
}

/* Стили для пунктов меню */
.navItem {
  color: #000; /* Цвет текста по умолчанию */
  transition: color 0.3s; /* Плавное изменение цвета */
}

/* Стили для пунктов меню при наведении */
.navItem:hover {
  color: #c80202eb; /* Новый цвет текста при наведении */
}

/* Стили для активного пункта меню */
.activeNavItem {
  color: #c80202eb; /* Цвет текста для активного пункта */
}