

.footer {
    min-height: 100vh; /* Задает минимальную высоту вьюпорта */
    display: flex;
    flex-direction: column;
  }
  
  /* Стили для основного контента */
  .p-4 {
    flex: 1; /* Занимает оставшееся пространство по вертикали */
  }